%p.text-right
  .pull-right
    = link_to "Highlight Missing Data", "", class: "btn btn-primary"

  = form_tag evaluation_index_path, method: :get, class: "form-inline" do
    .form-group
      %label{for: "term"} Select Term:
      %select{name: "term", id: "term", class: "form-control"}
        - @terms.each do |term|
          %option{value: term, selected: (term == params[:id] ? "selected" : nil)}= term
      %label{for: "instructor"} Select Instructor:
      %select{name: "instructor", id: "instructor", class: "form-control"}
        %option{value: nil, selected: ( params[:instructor_name].nil? ? "selected" : nil)}="All"
        - @instructor_names.each do |instructor|
          %option{value: instructor, selected: (instructor == params[:instructor_name] ? "selected" : nil)}= instructor
      %label{for: "course_name"} Select Course:
      %select{name: "course_name", id: "course_name", class: "form-control"}
        %option{value: nil, selected: ( params[:course_name].nil? ? "selected" : nil)}="All"
        - @course_names.each do |course_name|
          %option{value: course_name, selected: (course_name == params[:course_name] ? "selected" : nil)}= course_name
    %button{type: "submit", class: "btn btn-primary"} Go

%h1 Evaluation Table:

%table.table.table-condensed
  %thead
    %tr
      = form_tag export_evaluation_path, method: :get do
        %th
        - if can? :write, :all
          %th.light-gray-highlight Edit
        %th.light-gray-highlight
          = link_to "Term", missing_data_evaluation_index_path
        %th.light-gray-highlight Subject
        %th.light-gray-highlight Course
        %th.light-gray-highlight Section
        %th.light-gray-highlight
          = link_to "Instructor", evaluation_index_path
        %th.light-gray-highlight Enrollment
        - (1..8).each do |num|
          %th.light-gray-highlight
            = "Item #{num}"
            =check_box_tag "Itemz[#{num}]" , 1, nil, :id => "It#{num}"
        %th.light-gray-highlight GPR
        %th.light-gray-highlight Mean Student Eval Score
        %th.light-gray-highlight Course Level Average
        %th.light-gray-highlight
          =submit_tag 'Export to Excel'


  %tbody
    - @evaluation_groups.each do |group|
      - group.each do |evaluation|
        %tr
          %td{colspan: 1}
          - if can? :write, :all
            %td
              = link_to "Edit", edit_evaluation_path(evaluation)
          %td{ class: (evaluation.term.nil? ? "highlighted" : "" ) }
            = evaluation.term
          %td{ class: (evaluation.subject.nil? ? "highlighted" : "" ) }
            = evaluation.subject
          %td{ class: (evaluation.course.nil? ? "highlighted" : "" ) }
            = evaluation.course
          %td{ class: (evaluation.section.nil? ? "highlighted" : "" ) }
            = evaluation.section
          %td{ class: (evaluation.instructor.nil? ? "highlighted" : "" ) }
            - if evaluation.instructor.present?
              = link_to evaluation.instructor.name, instructor_path(id: evaluation.instructor.id)
          %td{ class: (evaluation.enrollment.nil? ? "highlighted" : "" ) }
            = evaluation.enrollment
          - (1..8).each do |num|
            %td{ class: (evaluation.method("item#{num}_mean".to_sym).call.nil? ? "highlighted" : "" ) }
              = evaluation.method("item#{num}_mean".to_sym).call
          %td{ class: (evaluation.gpr.nil? ? "highlighted" : "" ) }
            = evaluation.gpr
          %td{colspan: 2}
      %tr
        %b
          %td{colspan: 1}
          %td.gray-highlight
            %b Total
          %td.gray-highlight{colspan: 5}
          %td.gray-highlight
            %b= compute_total_enrollment(group)
          - (1..8).each do |x|
            %td.gray-highlight
              %b= compute_weighted_average_for_item(x, group).round(2)
          %td.gray-highlight{colspan: 1}
          %td.gray-highlight
            %b= compute_mean_student_eval_score(group).round(2)
          %td.gray-highlight
            %b= compute_course_level_average(group, @evaluation_groups).round(2)
          %td.gray-highlight
      %tr
        %td{colspan: 17}

