.outer.my_light_background
  .middle
    .inner.text-center
      %h1 Teaching Evaluation Scores
      -if user_signed_in?
        - if can? :write, :all
          .well.well-sm.mybackground{style: "display: inline-block"}
            %h3 Import Data
            %ul.nav.nav-pills.mybackground.nav-stacked
              %li= link_to "Import PICA Evaluation Data", import_evaluation_index_path
              %li= link_to "Import GPR Distribution Data", import_gpr_evaluation_index_path
              %li= link_to "Import Course Names", import_course_name_index_path
              %li= link_to "Add Paper Evaluation", new_evaluation_path
        - if can? :read, :all
          .well.well-sm.mybackground{style: "display: inline-block"}
            %h3 View Data
            %ul.nav.nav-pills.nav-stacked
              %li= link_to "View Evaluation Data", evaluation_index_path
              %li= link_to "View Faculty FPR Data", instructor_index_path
              %li= link_to "View Missing Data", missing_data_evaluation_index_path
              %li= link_to "View Course Names", course_name_index_path
        - else
          %p= "please ask an administrator to authorize your account"
      %ul.nav.nav-pills.nav-stacked
        - if user_signed_in?
          - if can? :manage, :all
            %li= link_to "User Management Panel", admin_index_path
          %li= link_to "Sign out", destroy_user_session_path, method: :delete
        - else
          %li= link_to "Sign In To Begin", new_user_session_path
